generalvenv/
c2g-venv/
*.pyc
__pycache__/
.ipynb_checkpoints/
.vscode/
cache
SMDP/mappa1.ipynb
SMDP/mappa2.ipynb
SMDP/publicprivate.ipynb
SMDP/mezzipubblici.ipynb
SMDP/mezzipubblici2.ipynb
verde_smdp.geojson
SMDP/rome_static_gtfs.zip
SMDP/POIs.ipynb
SMDP/poi_overrides.csv
SMDP/POIS2.ipynb
